<!DOCTYPE HTML>
<html>
<head>
    <title> Тренажерный зал </title>
</head>
<body>
<div> Добрый день, многоуважаемый пользователь, который вошел в систему! Выберите одну из следующих сущностей: </div>
<a href="mainClients"> Клиенты </a>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>